<form action="/cart" method="post">
    <button class="btn <%= product.productQuantity > 0 ? '' : 'disabled' %>" type="submit" <%=product.productQuantity> 0
        ? '' : 'disabled' %>>Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>